include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include rpc_stream *
recursive-exclude rpc_stream *.pyc
recursive-exclude rpc_stream *.o
